@use "variables";
@use "mixins";

@media only screen and (max-width: 480px) {
/*
================================================================
GENERAL
================================================================
*/
  * {
    padding: 0 !important;
    h2 {
      font-size: 40px !important;
    }
  }
/*
================================================================
HEADER & NAV
================================================================
*/
  .header {
    .nav_bar {
      @include mixins.size(4.5rem, 100vw);
      padding: 0 2.1875rem !important;
      .nav_logo {
        .logo_text {
          display: none;
        }
        .logo_icon {
          @include mixins.size(2.5rem, 2.5rem);
          display: block;
        }
      }
      .nav_menu {
        .nav_list {
          display: none;
        }
        .material-symbols-rounded {
          font-size: 35px;
          color: variables.$black_tit;
          display: block;
        }
      }
      .nav_btn {
        display: none;
      }
    }
  }
/*
================================================================
MAIN
================================================================
*/
  main {
    .home {
      padding: 0 2.1875rem !important;
      height: calc(variables.$win_h - 4.5rem);
      .home_text {
        z-index: 999;
        .title::before {
          display: none;
        }
        div {
          width: 100%;
          a #home_cv {
            padding: 20px 19px !important;
          }
          a #home_projects {
            padding: 20px 19px !important;
          }
        }
      }
      .home_logo {
        display: none;
      }
      .home_wave {
        bottom: 0 !important;
      }
    }
// ================================================================
// ABOUT SECTION
// ================================================================
    .about {
      padding: 0 2.1875rem !important;
      .about_content {
        width: 100%;
        height: 400px;
        border-radius: 20px;
        padding: 25px 35px !important;
        .title {
          font-size: 40px;
        }
        a {
          button {
            padding: 20px 19px !important;
          }
        }
      }
      .about_image {
        display: none;
      }
    }
// ================================================================
// PROJECTS SECTION
// ================================================================
    .projects {
      padding: 0 2.1875rem !important;
      height: 200vh;
      .projects_text {
        p {
          display: none;
        }
      }
      .projects_grid {
        display: flex;
        flex-direction: column;
        height: 150vh;
        justify-content: space-between;
      }
      .project_button {
        justify-content: center;
        .title {
          display: none;
        }
        a {
          button {
            padding: 20px 19px !important;
          }
        }
      }
    }
  }
// ================================================================
// EXPERIENCE SECTION
// ================================================================
  .experience {
    padding: 0 2.1875rem !important;
    height: 120vh !important;
    .home_wave {
      top: 400vh !important;
    }
    .experience_box {
      padding: 25px 35px !important;
    }
  }
// ================================================================
// SKILLS SECTION
// ================================================================
  .skills {
    padding: 0 2.1875rem !important;
  }
/*
================================================================
FOOTER & CONTACT SECTION
================================================================
*/
  footer {
    padding: 0 2.1875rem !important;
    .contact_form {
      display: none;
    }
  }
}
