@use "variables";
@use "mixins";

@media all and (max-width: 480px) {
/*
================================================================
GENERAL
================================================================
*/
  * {
    padding: 0 !important;
    h2 {
      font-size: 40px !important;
    }
  }
/*
================================================================
HEADER & NAV
================================================================
*/
  .header {
    .nav_bar {
      @include mixins.size(4.5rem, 100vw);
      padding: 0 2.1875rem !important;
      .nav_logo {
        .logo_text {
          display: none;
        }
        .logo_icon {
          @include mixins.size(2.5rem, 2.5rem);
          display: block;
        }
      }
      .nav_menu {
        .nav_list {
          display: none;
        }
        .material-symbols-rounded {
          font-size: 2.1875rem;
          color: variables.$black_tit;
          display: block;
        }
      }
      .nav_btn {
        display: none;
      }
    }
  }
/*
================================================================
MAIN
================================================================
*/
  main {
    .home {
      .home_content {
        z-index: 999;
        margin: 0 2.1875rem;
        .home_text {
          width: 100%;
          .title {
            font-size: 2.5rem;
            span {
            font-size: 2.5rem;
            }
          }
          .title::before {
            display: none;
          }
          div {
            width: 100%;
            a #home_cv {
              padding: 1.25rem 1.1875rem !important;
            }
            a #home_projects {
              padding: 1.25rem 1.1875rem !important;
            }
          }
        }
        .home_logo {
          display: none;
        }
      }




    }
// ================================================================
// ABOUT SECTION
// ================================================================
    .about {
      .about_content {
        margin: 0 2.1875rem; 
        .about_text {
          margin: 0;
          width: 100%;
          height: 25rem;
          border-radius: 1.25rem;
          padding: 1.5625rem 2.1875rem !important;
          .title {
            font-size: 2.5rem;
          }
          a {
            button {
              padding: 1.25rem 1.1875rem !important;
            }
          }
        }
        .about_image {
          display: none;
        }
      }
    }
// ================================================================
// PROJECTS SECTION
// ================================================================
    .projects {
      height: 200vh;
      .projects_content {
        margin: 0 2.1875rem;
        .projects_text {
          p {
            display: none;
          }
        }
        .projects_grid {
          height: calc(16.25rem * 3) + calc(1.5625rem * 3);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .project_button {
          justify-content: center;
          .title {
            display: none;
          }
          a {
            button {
              padding: 1.25rem 1.1875rem !important;
            }
          }
        }
      }
    }
  }
// ================================================================
// EXPERIENCE SECTION
// ================================================================
  .experience {
    // padding: 0 2.1875rem !important;
    height: 120vh !important;
    .experience_box {
      margin: 2.1875rem 2.1875rem 0 2.1875rem !important;
      padding: 1.5625rem 2.1875rem !important;
      .experience_title {
        justify-content: center !important;
        .title::before {
          width: 100% !important;
        }
      }
      .experience_icons {
        display: none;
      }
    }
  }
// ================================================================
// SKILLS SECTION
// ================================================================
  .skills {
    .skills_content {
      margin: 0 2.1875rem !important;
    }
  }
/*
================================================================
FOOTER & CONTACT SECTION
================================================================
*/
  footer {
    .contact_content {
      margin: 0 2.1875rem;
      .contact_form {
        display: none;
      }
    }
  
  }
}
